WEB_URL=
HOST=
MONGODB_URI=
MONGODB=
PORT=
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=
SMTP_HOST=
SMTP_PORT=
MAIL_ID=
MAIL_PASSWORD=
MAIL_FROM=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
SECRET_KEY=